{% extends 'layout.html.twig' %}

{% block content %}

    <div id="content">
        <div class="container fundify-modal">
            <h2 class="modal-title">Who We Are</h2>
            <p>
                Welcome to KEGSTARTER, your one stop shop for micro-crowdfunding that weekend rager you always wanted to
                throw but could never get the money together in time. Ever heard of the forgettable five? That elusive
                $5 bill that everyone of your friends has in their bank account but never seems to find its way into
                your pocket. Well that time is past because now you can get your money beforehand, protect your cash
                flow, end the long wait times checking into big college parties and most importantly, no one has to
                babysit the keg! Kegmaster presents to you the first ever platform designed to bring local craft
                breweries, party hosts, and party guests together in one simple, easy to use, website or mobile app.
                Fund your party here.
                <br/><br/>
                How it works?
                <br/><br/>
                Simple! Follow this five step process and fund your party today.
                <br/><br/>
                1. Sign up
                <br/>
                2. Create a campaign
                <br/>
                3. Invite your friends
                <br/>
                4. Watch the funding happen
                <br/>
                5. Enjoy your party
            </p>
        </div>
    </div>

{% endblock %}