{% extends 'layout.html.twig' %}

{% block content %}

    <div id="content">
        <div class="container">
            <article class="project-details">
                <div class="image">
                    <div class="video-container">
                        <iframe width="745" height="419" src="https://www.youtube.com/embed/LX24HpphxM8?feature=oembed" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <p>
                        When River City Brewing opened a little less than a year ago, co-owner Gage Stromberg wanted to
                        focus only on the beer. During his days at Coeur d'Alene Brewing Company, he'd seen how running
                        brewpubs with a full menu becomes a completely different business, and that's not what River
                        City was meant to be.
                        <br/><br/>
                        But as kegs started rolling out to restaurants and bars around town, people kept asking about
                        how to taste the whole lineup. Around the same time, visitors started traveling around town with
                        their Ale Trail maps. So, when a space opened up adjacent to the brewery's space in the Eldridge
                        building at First Avenue and Cedar Street, it was too perfect to pass up.
                    </p>
                </div>
                <div class="right-side">
                    <ul class="campaign-stats">
                        <li class="progress">
                            <h3>River City Brewing</h3>
                            <p>
                                121 S Cedar St
                                <br>
                                Spokane, Washington 99201
                            </p>
                        </li>
                    </ul>
                    <div class="contribute-now">
                        <a href="/create" class="btn-green">Start Party</a>
                    </div>
                </div>
            </article>
        </div>
    </div>

{% endblock %}