{% extends 'layout.html.twig' %}

{% block content %}
<div id="home-page-featured">
    <ul>
        <li><a href="/campaigns/french-bakery"></a></li>
    </ul>
    <ul>
        <li><a href="/campaigns/urban-flavours"></a></li>
    </ul>
    <ul>
        <li><a href="/campaigns/movie-theater-rental"></a></li>
    </ul>
    <h1>
        <span>Welcome to Keg Master</span>
        <br />
        <span>Party Funding Via Crowdfunding</span>
        <br />
        <span>Pull For Your Event</span>
    </h1>
    <!-- / container -->
</div>

<div id="content">
    <div class="container">

        <div class="search-box">
            <form method="get" id="searchform" action="" role="search">
                <input type="text" name="s" placeholder="Search" />
                <button type="submit" class="submit" name="submit" id="searchsubmit"><i class="icon-search"></i></button>
                <input type="hidden" name="type" value="download" />
            </form>
        </div>
        <div class="sort-tabs" id="filter">
            <ul class="option-set home">
                <li><a href="/" data-filter=".new-this-week">Recently Added</a></li>

                <li><a href="/" data-filter=".staff-pick">Staff Picks</a></li>
            </ul>
        </div>
        <div id="projects">
            <div class="brewery">
                <img src="http://placehold.it/350x200" />
                <div class="social-icons entry-share">
                    <div><a href="http://twitter.com/" target="_blank" class="share-twitter"><i class="icon-twitter"></i></a></div>
                    <div><a href="https://plus.google.com" target="_blank" class="share-google"><i class="icon-gplus"></i></a></div>
                    <div><a href="https://facebook.com" class="share-facebook"><i class="icon-facebook"></i></a></div>
                    <div><a href="http://pinterest.com" target="_blank" class="share-pinterest"><i class="icon-pinterest"></i></a></div>
                </div>
                <p>
                    Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare
                    sem lacinia quam venenatis vestibulum.
                </p>
                <a href="/brewery" class="btn btn-yellow">BTN</a>
            </div>
            <div class="brewery">
                <img src="http://placehold.it/350x200" />
                <div class="social-icons entry-share">
                    <div><a href="http://twitter.com/" target="_blank" class="share-twitter"><i class="icon-twitter"></i></a></div>
                    <div><a href="https://plus.google.com" target="_blank" class="share-google"><i class="icon-gplus"></i></a></div>
                    <div><a href="https://facebook.com" class="share-facebook"><i class="icon-facebook"></i></a></div>
                    <div><a href="http://pinterest.com" target="_blank" class="share-pinterest"><i class="icon-pinterest"></i></a></div>
                </div>
                <p>
                    Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare
                    sem lacinia quam venenatis vestibulum.
                </p>
                <a href="/brewery" class="btn btn-yellow">BTN</a>
            </div>
            <div class="brewery">
                <img src="http://placehold.it/350x200" />
                <div class="social-icons entry-share">
                    <div><a href="http://twitter.com/" target="_blank" class="share-twitter"><i class="icon-twitter"></i></a></div>
                    <div><a href="https://plus.google.com" target="_blank" class="share-google"><i class="icon-gplus"></i></a></div>
                    <div><a href="https://facebook.com" class="share-facebook"><i class="icon-facebook"></i></a></div>
                    <div><a href="http://pinterest.com" target="_blank" class="share-pinterest"><i class="icon-pinterest"></i></a></div>
                </div>
                <p>
                    Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare
                    sem lacinia quam venenatis vestibulum.
                </p>
                <a href="/brewery" class="btn btn-yellow">BTN</a>
            </div>
            <div class="brewery">
                <img src="http://placehold.it/350x200" />
                <div class="social-icons entry-share">
                    <div><a href="http://twitter.com/" target="_blank" class="share-twitter"><i class="icon-twitter"></i></a></div>
                    <div><a href="https://plus.google.com" target="_blank" class="share-google"><i class="icon-gplus"></i></a></div>
                    <div><a href="https://facebook.com" class="share-facebook"><i class="icon-facebook"></i></a></div>
                    <div><a href="http://pinterest.com" target="_blank" class="share-pinterest"><i class="icon-pinterest"></i></a></div>
                </div>
                <p>
                    Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare
                    sem lacinia quam venenatis vestibulum.
                </p>
                <a href="/brewery" class="btn btn-yellow">BTN</a>
            </div>
        </div>
    <!-- / container -->
    </div>
</div>
<!-- / content -->
{% endblock %}