
<!DOCTYPE html>
<!--[if IE 7]> <html class="ie7 oldie" lang="en" lang="en-US"> <![endif]-->
<!--[if IE 8]> <html class="ie8 oldie" lang="en" lang="en-US"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en" lang="en-US"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" lang="en-US"> <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Kegmaster | Crowdfunding your party</title>

    <!--[if lt IE 9]>
    <script src="/js/html5.js" type="text/javascript"></script>
    <![endif]-->

    <link rel='stylesheet' id='edd-styles-css'  href='/css/edd.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='fundify-fonts-css'  href='http://fonts.googleapis.com/css?family=Oswald%7CLato%3A400%2C700&#038;ver=3.9.2' type='text/css' media='all' />
    <link rel='stylesheet' id='fundify-entypo-css'  href='/css/entypo.css' type='text/css' media='all' />
    <link rel='stylesheet' id='fundify-style-css'  href='/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='fundify-responsive-css'  href='/css/responsive.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var edd_scripts = {"ajaxurl":"http:\/\/builtevents.com\/wp-admin\/admin-ajax.php","position_in_cart":"","already_in_cart_message":"You have already added this item to your cart","empty_cart_message":"Your cart is empty","loading":"Loading","select_option":"Please select an option","ajax_loader":"http:\/\/builtevents.com\/wp-content\/plugins\/easy-digital-downloads\/assets\/images\/loading.gif","is_checkout":"0","default_gateway":"manual","redirect_to_checkout":"0","checkout_page":"http:\/\/builtevents.com\/checkout-2","permalinks":"1"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='/js/edd-ajax.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var atcfSettings = {"pages":{"is_submission":true,"is_campaign":false},"submit":[{"i18n":{"oneReward":"At least one reward is required."}}]};
        /* ]]> */
    </script>
    <script type='text/javascript' src='/js/crowdfunding.js?ver=3.9.2'></script>
    <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    <style type="text/css">
        .site-title span,
        .site-description {
            position: absolute !important;
            clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
        }
    </style>
    <style type="text/css" id="custom-background-css">
        body.custom-background { background-image: url('/images/coffee_tea.jpg'); background-repeat: repeat; background-position: top left; background-attachment: fixed; }
    </style>
</head>
<body class="home page page-id-19 page-template page-template-page-templatesfront-page-php custom-background fixed-header">

<div id="page" class="hfeed site">

<header id="header" class="site-header" role="banner">
    <div class="container">
        <a href="/">
            <img class="resp-logo" src="/images/logo.png"/>
        </a>
        <a href="#" class="menu-toggle"><i class="icon-menu"></i></a>
        <nav id="menu">
            {#<a href="/" title="Built Events" rel="home" class="logo">#}
                {#<img src="/images/logo.png"/>#}
            {#</a>#}
            <ul id="menu-left-nav" class="menu left">
                <li id="menu-item-630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-630"><a href="/brewery">Breweries</a></li>
                <li id="menu-item-630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-630"><a href="/create">Start</a></li>
                <li id="menu-item-630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-630"><a href="/about">About</a></li>
            </ul>

            <ul id="menu-right-nav" class="right">
                <li id="register-modal" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-636"><a href="/profile">Account</a></li>
                <li id="register-modal" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-636"><a href="/sign-up">Sign Up</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-635"><a href="/login">Login</a></li>
            </ul>
            <div style="clear:both;"></div>
        </nav>
    </div>
    <!-- / container -->
</header>
<!-- / header -->

{% block content %}{% endblock %}

<footer id="footer">
    <div class="container">
        <div class="footer-widget">
            <div>
                <h3 class="widget-title">Pages</h3>
                <ul>
                    <li class="page_item page-item-164"><a href="/blog">Blog</a></li>
                    <li class="page_item page-item-524"><a href="/checkout">Checkout</a></li>
                    <li class="page_item page-item-327"><a href="/contact">Contact</a></li>
                    <li class="page_item page-item-532"><a href="/download">Download</a></li>
                    <li class="page_item page-item-501"><a href="/faq">FAQ</a></li>
                    <li class="page_item page-item-19"><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-widget">
            <div>
                <h3 class="widget-title">Pages</h3>
                <ul>
                    <li class="page_item page-item-164"><a href="/blog">Blog</a></li>
                    <li class="page_item page-item-524"><a href="/checkout">Checkout</a></li>
                    <li class="page_item page-item-327"><a href="/contact">Contact</a></li>
                    <li class="page_item page-item-532"><a href="/download">Download</a></li>
                    <li class="page_item page-item-501"><a href="/faq">FAQ</a></li>
                    <li class="page_item page-item-19"><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-widget">
            <div>
                <h3 class="widget-title">Pages</h3>
                <ul>
                    <li class="page_item page-item-164"><a href="/blog">Blog</a></li>
                    <li class="page_item page-item-524"><a href="/checkout">Checkout</a></li>
                    <li class="page_item page-item-327"><a href="/contact">Contact</a></li>
                    <li class="page_item page-item-532"><a href="/download">Download</a></li>
                    <li class="page_item page-item-501"><a href="/faq">FAQ</a></li>
                    <li class="page_item page-item-19"><a href="/">Home</a></li>
                </ul>
            </div>
        </div>

        <div class="last-widget">
            <h3>Get the Stats</h3>
            <ul>
                <li><strong>32</strong> Campaigns</li>
                <li><strong>&#36;41.00</strong> Funded</li>
            </ul>
        </div>
    </div>
    <!-- / container -->
</footer>
<!-- / footer -->

<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js?ver=3.1.2'></script>
<script type='text/javascript' src='/js/magnific-popup.js'></script>
<script type='text/javascript' src='/js/fundify.js'></script>
<script type='text/javascript' src='/js/comment-reply.min.js'></script>
</body>
</html>