{% extends 'layout.html.twig' %}

{% block content %}

<div id="content">
    <div class="container fundify-modal payment">
        <div id="main-content">
            <article id="post-575" class="post-575 page type-page status-publish hentry">
                <div class="entry-content">
                    <div id="edd_checkout_wrap"><!--dynamic-cached-content-->
                        <form id="edd_checkout_cart_form" method="post">
                            <div id="edd_checkout_cart_wrap">
                                <table id="edd_checkout_cart" class="ajaxed">
                                    <thead>
                                    <tr class="edd_cart_header_row">
                                        <th class="edd_cart_item_name">Item Name</th>
                                        <th class="edd_cart_item_price">Item Price</th>
                                        <th class="edd_cart_actions">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="edd_cart_item" id="edd_cart_item_0_44" data-download-id="44">
                                        <td class="edd_cart_item_name">
                                            <div class="edd_cart_item_image"></div>
                                            <span class="edd_checkout_cart_item_title">
                                                River City Red - The River City Red label says it all, “Wee Bit Malty – Crisp and Clean.” This beer is made from five different malted, two-row barley grains to give it just the right caramel red color, then we use two different hop varieties for flavor and aroma. The beer is well balanced between the sweetness of the malted barley and the bite of the hops. 2014 Washington Beer Awards Gold Medal Winner
                                            </span>
                                        </td>
                                        <td class="edd_cart_item_price">$10.00</td>
                                        <td class="edd_cart_actions">
                                            <a href="/payment">Remove</a>
                                        </td>
                                    </tr>
                                    <!-- Show any cart fees, both positive and negative fees -->
                                    </tbody>
                                    <tfoot>

                                    <tr class="edd_cart_footer_row">
                                        <th colspan="5" class="edd_cart_total">
                                            Total: <span class="edd_cart_amount" data-subtotal="1000" data-total="1000">$10.00</span>
                                        </th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form><!--/dynamic-cached-content-->
                        <div id="edd_checkout_form_wrap" class="edd_clearfix">
                            <form id="edd_purchase_form" action="/party" method="POST">

                                <fieldset id="edd_checkout_user_info">
                                    <span><legend>Personal Info</legend></span>
                                    <p id="edd-email-wrap">
                                        <label class="edd-label" for="edd-email">
                                            Email Address
                                            <span class="edd-required-indicator">*</span>
                                        </label>
                                        <span class="edd-description">We will send the purchase receipt to this address.</span>
                                        <input class="edd-input required" type="email" name="edd_email" placeholder="Email address" id="edd-email" value="">
                                    </p>
                                    <p id="edd-first-name-wrap">
                                        <label class="edd-label" for="edd-first">
                                            First Name
                                            <span class="edd-required-indicator">*</span>
                                        </label>
                                        <span class="edd-description">We will use this to personalize your account experience.</span>
                                        <input class="edd-input required" type="text" name="edd_first" placeholder="First name" id="edd-first" value="">
                                    </p>
                                    <p id="edd-last-name-wrap">
                                        <label class="edd-label" for="edd-last">
                                            Last Name							</label>
                                        <span class="edd-description">We will use this as well to personalize your account experience.</span>
                                        <input class="edd-input" type="text" name="edd_last" id="edd-last" placeholder="Last name" value="">
                                    </p>
                                </fieldset>

                                <fieldset id="edd_checkout_user_info">
                                    <span><legend>Payment Info</legend></span>
                                    <div class="edd-payment-icons">
                                        <img class="payment-icon" src="http://builtevents.com/wp-content/plugins/easy-digital-downloads/templates/images/icons/mastercard.gif">
                                        <img class="payment-icon" src="http://builtevents.com/wp-content/plugins/easy-digital-downloads/templates/images/icons/visa.gif">
                                        <img class="payment-icon" src="http://builtevents.com/wp-content/plugins/easy-digital-downloads/templates/images/icons/americanexpress.gif">
                                        <img class="payment-icon" src="http://builtevents.com/wp-content/plugins/easy-digital-downloads/templates/images/icons/discover.gif">
                                        <img class="payment-icon" src="http://builtevents.com/wp-content/plugins/easy-digital-downloads/templates/images/icons/paypal.gif">
                                    </div>
                                    <p id="edd-email-wrap">
                                        <label class="edd-label" for="edd-email">
                                            Card Number
                                            <span class="edd-required-indicator">*</span>
                                        </label>
                                        <input class="edd-input required" type="email" name="edd_email" placeholder="Card Number" id="edd-email" value="">
                                    </p>
                                    <p id="edd-credit-wrap">
                                        <label class="edd-label" for="edd-first">
                                            Expiration Date
                                            <span class="edd-required-indicator">*</span>
                                        </label>
                                        <select name="" id="month">
                                            <option value="1">January - 1</option>
                                            <option value="2">February - 2</option>
                                            <option value="3">March - 3</option>
                                            <option value="4">April - 4</option>
                                            <option value="5">May - 5</option>
                                            <option value="6">June - 6</option>
                                            <option value="7">July - 7</option>
                                            <option value="8">August - 8</option>
                                            <option value="9">September - 9</option>
                                            <option value="10">October - 10</option>
                                            <option value="11">November - 11</option>
                                            <option value="12">December - 12</option>
                                        </select>
                                        <select name="" id="year">
                                            <option value="2014">2014</option>
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                        </select>
                                    </p>
                                    <p id="edd-cvv-wrap">
                                        <label class="edd-label" for="edd-last">
                                            CVV
                                        </label>
                                        <input class="edd-input" type="text" name="edd_last" id="edd-last" placeholder="CVV" value="">
                                    </p>
                                </fieldset>
                                <p id="edd-anon-wrap">
                                    <label class="edd-label" for="edd-anon">
                                        <input class="edd-input" type="checkbox" name="edd_anon" id="edd-anon" style="vertical-align: middle;">
                                        Hide name on backers list?
                                    </label>
                                </p>
                                <fieldset id="edd_purchase_submit">
                                    <p id="edd_final_total_wrap">
                                        <strong>Purchase Total:</strong>
                                        <span class="edd_cart_amount" data-subtotal="1000" data-total="1000">$10.00</span>
                                    </p>
                                    <a href="/party" class="btn btn-yellow">Purchase</a>

                                </fieldset>
                            </form>
                        </div><!--end #edd_checkout_form_wrap-->
                    </div><!--end #edd_checkout_wrap-->

                </div><!-- .entry-content -->
            </article>
        </div>
    </div>
</div>

{% endblock %}